{% extends 'base.html' %}
{% block content %}
  <h2>Delete checklist items:</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% for item in form.checks %}
      <li style="list-style-type: none; padding-top: 1.5%">
        {{ item }}
    </li>
    {% endfor %}
    <button type="submit">Delete selected items</button>
  </form>
{% endblock %}
