{% extends 'base.html' %}

{% block content %}
  <h1>Projects you've joined</h1>

  {% if project_list %}
    <ul>
      {% for project in project_list %}
        <li class="project">
          <div class="projectcore">
            <strong><a class="linkbutton" href="{{project.author_user.get_absolute_url}}">{{project.author_user}}</a>: </strong><a class="linkbutton" href="{{ project.get_absolute_url }}">{{ project.name }}, at {{project.held_date}}</a>
            <p>
              <i>"{{ project.description }}"</i>
            </p>
          </div>
          {% if project.checklistitem_set.all %}
            <!-- <div class = "checklist"> -->
            <ul class="checklist">
              {% for item in project.checklistitem_set.all %}
                <li>
                  {% if item.is_checked %}
                    ☑
                  {% else %}
                    ☐
                  {% endif %} {{ item }}
                </li>
              {% endfor %}
            </ul>
            <!-- </div> -->
          {% else %}

          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't joined any projects yet. Check the invites tab or ask to join a project.</p>
  {% endif %}
{% endblock %}
