{% extends "base.html" %}

{% block content %}
<h2>Projects</h2>
<form method="GET" action="{% url 'projects' %}">
    <input type="text" name="q" placeholder="Search projects...">
    <button type="submit">Search</button>
</form>
<hr>
    <ul class = "projectlist">
    {% for project in project_list %}
        <li class="project">
            <div class="projectcore">
            ({{ project.points }} point{{ project.points|pluralize }}) 
            
            <strong><a class="linkbutton" href="{{project.author_user.get_absolute_url}}">{{project.author_user}}</a>: </strong><a class="linkbutton" href="{{ project.get_absolute_url }}">{{ project.name }}</a>, posted on {{ project.post_date }}
            <p> Held at {{project.held_date}} </p>
                <p><i>"{{project.description}}"</i></p>
            </div>
            {%if project.checklistitem_set.all%}
            <!-- <div class = "checklist"> -->
                <ul class = "checklist">
                    {% for item in project.checklistitem_set.all %}
                        <li>{%if item.is_checked%}☑{%else%}☐{%endif%} {{item}}</li>
                    {% endfor %}
                </ul>
            <!-- </div> -->
            {%else%}
            {%endif%}
        </li>
        
    {% empty %}
        <p>No projects found!</p>
    {% endfor %}
    </ul>
</div>

{% endblock %}