{% extends 'base.html' %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" value="Submit" />
  </form>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz__n-yYuMyDgr5OTwWpUQC6m9PbhxCLY&libraries=places&callback=Function.prototype"></script>
  <script>
    function initMap() {
        var latInput = document.getElementById('map-lat');
        var longInput = document.getElementById('map-long');
        var initialLat = {% if form.instance.lat %} {{form.instance.lat}} {% else %} 45.548349952852995 {% endif %};
        var initialLng = {% if form.instance.long %} {{form.instance.long}} {% else %} 13.742436210805522 {% endif %};

        var map = new google.maps.Map(document.getElementById('project-map'), {
            center: { lat: initialLat, lng: initialLng },
            zoom: 10
        });

        var marker = new google.maps.Marker({
            map: map,
            position: { lat: initialLat, lng: initialLng },
            draggable: true
        });

        latInput.value = initialLat;
        longInput.value = initialLng;

        google.maps.event.addListener(map, 'click', function (event) {
            // delete old marker if it exists
            if (marker) {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({
                map: map,
                position: event.latLng,
                draggable: true
            });

            latInput.value = event.latLng.lat();
            longInput.value = event.latLng.lng();
        });
    }

    google.maps.event.addDomListener(window, 'load', initMap);
</script>


  <h2>Select location:</h2>
  <div id="project-map"></div>
{% endblock %}
