{% extends 'base.html' %}

{% block content %}
  <h1>Delete project: {{ project }}</h1>
  <p>Are you sure you want to delete the project?</p>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" action="" value="Yes, delete." />
  </form>
{% endblock %}
