{% extends 'base.html' %}

{% block content %}
  <h2>Invites</h2>
  {% if user_invites %}
    <ul>
      {% for invite in user_invites %}
        <li>
          {{ invite.inviting_user }} invited you to {{ invite.project }}
          <form method="post" action="{% url 'accept-invite' invite.id %}">
            {% csrf_token %}
            <button type="submit" name="action" value="accept">Accept</button>
            <button type="submit" name="action" value="delete">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You currently have no invites</p>
  {% endif %}
{% endblock %}
