{% extends 'base.html' %}

{% block content %}

  <div class="projectdetail">
    <h1>{{ project.name }} ({{ project.points }} point{{ project.points|pluralize }})</h1>
  
    <div class="projectcore">
      <strong><a class="linkbutton" href="{{ project.author_user.get_absolute_url }}">{{ project.author_user }}</a></strong>
      posted on {{ project.post_date }}
      <br />
      <ul style="list-style-type: none; font-size: 20px; margin-left: -3%;">
      {%if user == project.author_user%}
      
      <li>
        <a href="{% url 'project-update' project.id %}" class="linkbutton">Edit project</a>
      </li>
      <li>
        <a href="{% url 'project-delete' project.id %}" class="linkbutton">Delete project</a>
      </li>
    
      {%endif%}

      {% if user in project.member_users.all%}
        {% if request.user == project.author_user %}
        {%else%}
          <li>
            <form method="post" action="{% url 'project-leave' project.id %}">
              {% csrf_token %}
              <button type="submit" class="linkbutton">Leave project</button>
            </form>
          </li>
        {% endif %}
      {% endif %}
    </ul>
      {% comment %} {% if user in project.member_users.all %}
        <ul style="list-style-type: none; font-size: 20px; margin-left: -3%;">
          <li>
            <a href="{% url 'invite-user'%}" class="linkbutton">Invite users</a>
          </li>
        </ul> {% endcomment %}
        {% if user.is_authenticated%}
      <div style="position: absolute; top: 5%; right:5%">
      <form method="post" action="{% url 'project-detail-vote' project.id %}">
          {% csrf_token %}
          {{ forms.vote }}
          <button type="submit">Submit</button>
      </form>
    </div>
      {% endif %}Held <strong>
        {{ project.held_date }}{% if project.is_active %}

        {% else %}
          (ENDED)
        {% endif %}
      </strong>
      {% comment %} {% if project.lat and project.long %}
        at
        {{ project.lat }}, {{ project.long }}
      {% endif %} {% endcomment %}
      <hr />
      <h2>Description</h2>
      {{ project.description }}
      <h2>Location</h2>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz__n-yYuMyDgr5OTwWpUQC6m9PbhxCLY&libraries=places&callback=Function.prototype"></script>
      <script>
        function initMap() {
            var latInput = document.getElementById('map-lat');
            var longInput = document.getElementById('map-long');
    
            var projectLocation = { lat: {{ project.lat }}, lng: {{ project.long }} };

            var map = new google.maps.Map(document.getElementById('project-map'), {
                center: projectLocation,
                zoom: 11
            });
    
            var marker;
  
              marker = new google.maps.Marker({
                  map: map,
                  position: projectLocation,
                  draggable: false
              });

      }
      google.maps.event.addDomListener(window, 'load', initMap);
      </script>
    
      <div id="project-map"></div>

      <h2>Members</h2>
      <ul>
        {% for user in project.member_users.all %}
          <li>{{ user }}</li>
        {% endfor %}
      </ul>
    </div>
    <br />
    <hr />

    <div class="checkchat">
      {% if user in project.member_users.all %}
        <!-- also need to check user is joined when submitting message -->
        <div class="chatparent">
          <h2>Group chat</h2>
          <p>
            <ul class="chat" id="chat">
              {% for message in project.message_set.all %}
                <li>
                  <hr />
                  {{ message.post_date }}<br />{{ message.poster }}: {{ message.text }}
                </li>
              {% endfor %}
              <br /> <br /> <br />
            </ul>
            <p>
              <form action="{% url 'project-detail-send-message' project.id %}" method="post" id="message" class="chatbox">
                {% csrf_token %}
                {{ forms.message }}
                <input type="submit" value="send" />
              </form>

        </div>

      {% endif %}

      <div class="checkparent" id="checklist">
        <h2>Checklist</h2>
        <ul class="detaillist">
          {% if user in project.member_users.all %}
            <form action="" method="post">
              {% csrf_token %}
              {% for item in forms.list.checks %}
                <li style="list-style-type: none; padding-top:1.5%">{{ item }}</li>
              {% endfor %}
            </form>
          {% else %}
            {% for item in project.checklistitem_set.all %}
              <li>
                {% if item.is_checked %}
                  ☑
                {% else %}
                  ☐
                {% endif %} {{ item.description }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        {% if user in project.member_users.all %}
          <p>
            <form action="{% url 'project-detail-add-item' project.id %}" method="post" class="chatbox">
              {% csrf_token %}
              {{ forms.item }}
              <input type="submit" value="Add item" />
            </form>
          </p>
          <a class="linkbutton" href="{% url 'project-delete-checklist-items' project.id %}">Delete checklist items</a>
        {% endif %}
      </div>
    </div>

    <!--   <div class="send_message">
    <hr>
    <form action="/send_message/" method="post">
      <label for="message"></label>
      <input id="message" type="text" name="message" value="{{ current_message }}">
      <input type="submit" value="Send">
    </form>
  </div>   -->
    <div style="clear:both;">
      <h2>Comments</h2>
      <ul>
        {% for comment in project.comment_set.all %}
          <li id="commentlist" class="commentlist">
            <hr />
            <strong><a class="linkbutton" href="{{ comment.commenter.get_absolute_url }}">{{ comment.commenter }}</a></strong>, {{ comment.post_date }}
            <p>{{ comment.text }}</p>
          </li>
        {% endfor %}
        <hr />
        {% if user.is_authenticated%}
        <p>
          <form action="{% url 'project-detail-add-comment' project.id %}" method="post" id="comment">
            {% csrf_token %}
            {{ forms.comment }}
            <input type="submit" value="post" />
          </form>
        </p>
        {%endif%}
      </ul>
    </div>
  </div>
{% endblock %}

<!--   <form action="/projectboard/send_comment/" method="post" class = "">
  <label for="comment"></label>
  <input id="comment" type="text" name="comment" value="{{ current_comment }}" size="100">
  <input type="submit" value="post">
</form>     -->
