  :root {
    --sidebarnavwidth: 150px;
  }

  body {
    font-family: "Arial", sans-serif;
    background-color: #ebe9e2;
  }

  body:link {
    color: #ffc400
  }

  .chatparent {
    height: 100%;
    content: "";
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    float: left;
    width: 50%;
    /* border: 2px solid #2e2e2e;  */
  }

  .chat {
    overflow: auto;
    z-index: 1;
    height: 20vw;
    background-color: #ffffff;
    overflow-x: hidden;
    border: 2px solid #2e2e2e;
    margin-top: -4%;
  }

  .chatbox {
    margin-top: -4%;
  }

  /* .chatparent {
    height: 100%;
    width: var(--sidebarchatwidth);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    
    background-color: #ffffff;
    overflow-x: hidden;
    
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid #2e2e2e; 
    margin-bottom: 10%;
  } */



  .sidenav {
    height: 100%;
    width: var(--sidebarnavwidth);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #6b008b; */
    background-color: #2e2e2e;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 201, 130);;
    display: block;
    background-color: #424242;
    margin-top: 5%;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }


  .main {
    margin-left: var(--sidebarnavwidth);
    font-size: 18px;
    padding: 0px 10px;
  }


  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }


  .projectlist {
    font-size: 18px;
    list-style-type: circle;
    /* padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 0; */

    /* display: table; width:100%; */
  }

  .project {
    background-color: #e5ffdf;
    display: flex;
    border: 2px solid rgb(119, 119, 119);
    border-left: 20px solid #167900;
    padding-left: 2%;
    margin-left: -3.5%;
    padding: 1%;
    margin-top: 1.5%;
  }

  .projectdetail {
    background-color: #e5ffdf;
    border: 2px solid rgb(119, 119, 119);
    border-left: 20px solid #167900;
    padding-left: 2%;
    padding-right: 2%
  }


  .projectcore {
    flex: 1;
    /* border: 2px solid yellow; */
  }



  .detaillist {
    border: 1px solid rgb(255, 201, 130);
    background-color: #fffed0;
    list-style-type: none;
    font-size: 18px;
    font-style: italic;
    margin: 7px 0;
    padding: 20px;
  }

  .commentlist {
    list-style-type: none;
  }

  .sidebarlist {
    list-style-type: none;
    margin-left: -27%;
  }

  .checklist {
    border: 1px solid rgb(255, 201, 130);
    background-color: #fffed0;
    list-style-type: none;
    font-size: 18px;
    font-style: italic;
    margin: 7px 0;
    /* display: table-cell; vertical-align: middle;  */

    width: 40%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
    margin-right: 10px;
  }


  .linkbutton:link {
    text-decoration: none;
  }

  .linkbutton:visited {
    text-decoration: none;
    color: blue;
  }

  .send_message {
    /* position: absolute; */
    bottom: 30px;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  /* .checkchat {
  border: 1px solid rgb(0, 0, 0); 
} */


  .checkparent {
    /* border: 1px solid rgb(0, 0, 0);  */
    width: 40%;
    float: left;
    margin-left: 1%;

  }

  .brsmall {
    display: block;
    margin-bottom: -.4em;
  }


  #logout-form {
    display: inline;
  }

  #logout-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 201, 130);;
    display: block;
    background-color: #424242;
    width: 100%;
  }

  .splash {
    color:rgb(255, 201, 130);
    background-color: #2e2e2e;
  }

  #project-map {
    height: 450px;
}