<!DOCTYPE html>

<html lang="en">
  <head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block title %}
      <title>ReForum</title>
    {% endblock %}
  </head>
  <body>
    {% block sidebar %}
      <div class="sidenav">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'projects' %}">Projects</a>
        {% if user.is_authenticated %}
          <hr />
          <ul class=sidebarlist>
            <li>
              <p style="text-decoration: none;font-weight: bold;font-size: 20px;color: rgb(255, 201, 130);; padding-left: 8%;">Welcome, {{ user }}</p>
            </li> 
            <li>
              <a href="{% url 'invite-user' %}">Invite users</a>
            </li>
            <li>
              <a href="{% url 'my-projects' %}">My projects</a>
            </li>
            <li>
              <a href="{% url 'project-invites' %}">My invites</a>
            </li>
            <li>
              <a href="{% url 'project-create' %}">New project</a>
            </li>
            <li>
              <p>
              <form id="logout-form" method="post" action="{% url 'logout' %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" style="text-align: left; padding-left: 11%;">Logout</button>
              </form>
              </p>
            </li>
          </ul>
        {% else %}
          <ul class=sidebarlist>
            <li>
              <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
            </li>
            <li>
              <a href="{% url 'register' %}?next={{ request.path }}">Register</a>
            </li>
          </ul>
        {% endif %}
      </div>
    {% endblock %}

    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
