{% extends 'base.html' %}

{% block title %}
  <title>ReForum Homepage</title>
{% endblock %}

{% block content %}
  <p>
    <strong> Welcome to </strong>
  </p>
    <font style = "font-size:120px; font-weight: bold; color:rgb(255, 201, 130); background-color: #2e2e2e; padding:0.5%; border-radius: 15px;">  
      ReForum!
  </font>  

  {% comment %} <hr /> {% endcomment %}

  <p>
    <ul>
      <li>Hosting {{ n_projects }} projects.</li>
      <li>Total number of users: {{ n_users }}</li>
      <li>You've visited this page {{ n_visits }} time{{ n_visits|pluralize }} so far.</li>
    </ul>
  </p>
{% endblock %}
