{% extends "base.html" %}

{% block content %}
  {% if form.errors %}
    <p>Username and password didn't match.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. Please login with an account that has access.</p>
    {% else %}
      <p>You need to login to see this page.</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
{% endblock %}
