{% extends 'base.html' %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Register</button>
  </form>
{% endblock %}
